[Unit]
Description=Configure USB tether interface %i
After=network.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/start-tether.sh %i
ExecStop=/usr/local/bin/stop-tether.sh %i

