[Unit]
Description=Hourly vnStat Prometheus push

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=15min

[Install]
WantedBy=timers.target
