# Auto-configure iPhone USB tether when plugged in
# Install to: /etc/udev/rules.d/90-ipheth.rules
# Then reload: udevadm control --reload-rules && udevadm trigger

SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="05ac", KERNEL=="enx*", RUN+="/bin/systemctl start --no-block tether@%k.service"
SUBSYSTEM=="net", ACTION=="remove", ATTRS{idVendor}=="05ac", KERNEL=="enx*", RUN+="/bin/systemctl stop --no-block tether@%k.service"
